<%if(response.activity_notification!==undefined){%>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert" aria-label="close">&times;</a>
        <%=response.activity_notification%>
      </div>
    </div>
  </div>
<%}%>