
<footer class="footer">
<div class="well text-center" style="width: 100%; height: 70px; padding: 0px; margin-bottom: 0px; border-radius: 0px;">
<span class="text-info"><small>© 2015 VEND. All Rights Reserved. <br>  
  NIT Hamirpur, Himachal Pradesh<br>
  Have any queries? <a href="/contact">Contact us.</a></small></span>
  <p></p>
</div>
</footer>