
<div class="message_unread_item" style="padding-right:8px; background: rgba(238, 238, 238, 0.86); margin-top:1px; min-height:50px;">

    <span class="text-muted pull-right" style="padding-top:6px;">   
    <%=response.message.createdAt%>
    </span>
    <span class="text-info pull-left" style="padding-top:6px;">
    <strong>
    <%if(response.message.from_user_id===response.messages_user.user_id){%>
    <%=response.message.from_user_name%>:
    <%}%>
    <%if(response.message.from_user_id!==response.messages_user.user_id){%>
    You:
    <%}%>
    </strong>
    </span>
    <br>
    <div style="padding:6px 8px 0px; max-width:100%;" >
    <p class="text-default" style="text-align: justify; margin-bottom: 1px;">
    <%-response.message.message%>
    </p>
    </div>
</div>
<hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">