<div class="notification_unread_item" style="padding-right:8px; background: rgba(238, 238, 238, 0.86); margin-top:1px; min-height:50px;">
    <span class="text-muted pull-right" style="padding-top:6px;">
    
    <%=response.notification.createdAt%>
    </span>
    <div style="padding:6px 8px 0px;">
    <%-response.notification.notification%> 
    </div>
    
</div>
<hr style="margin-top: 1px; margin-bottom: 1px;">