
<div class="notification_read_item" style="padding-right:8px; margin-top:1px; height:50px;">

    <span class="text-muted pull-right" style="padding-top:6px;">
    
    <%=response.notification.createdAt%>
    </span>
    <p style="padding:6px 8px 0px;">
    <%-response.notification.notification%> 
    <br>
    </p>
    
</div>
<hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">