
<div id="passwordPopUp" class="col-md-4 col-md-offset-4 modal fade" role="dialog" >
  <div class="modal-dialog modal-vertical-centered" style="width: 100%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title">
        <span class="text-info">
        <strong>
        Change Password
        </strong>
        </span>
        </h4>
      </div>
      <div class="modal-body">
         <form id="passwordForm" action="/api/user/password" method="POST" >
          <input id="OldPassword" type="password" class="form-control" name="old_password" required placeholder="Confirm Old Password" style="margin-bottom: 8px;" />
          <input id="NewPassword" type="password" class="form-control" name="new_password" required placeholder="Enter new Password" style="margin-bottom: 8px;"/>
          <input id="ConfirmPassword" type="password" class="form-control" name="confirm_password" required placeholder="Confirm new Password" style="margin-bottom: 8px;"/>
          <div align="center">
          <button type="submit" class="btn btn-danger pull-center" align="center">Change Password</button>
          </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right" style="margin-right:8px;" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>