
<!DOCTYPE html>
<html>
<head>
<title>VEND:An online web portal to buy/sell/share things in NITH Campus</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
<!-- start menu -->
<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/js/simpleCart.min.js"> </script>
</head>

<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="logo">
					<!-- <h1><a href="/"><img src="/images/logo1.png" alt="" height="40px" width="100px" /></a></h1> -->
					<div id="head" style="margin-top:-10px">VEND</div>
				</div>
			<div class="header-left">
			
				<div class="search-box">
					<div >
						<form action="/api/view/search" method="POST">
							<input style="width:400px; left:600px; top:15px" class="sb-search-input" placeholder="Enter your search term..." type="text" name="query" id="search">
							<input class="sb-search-submit" style="left:1000px; top:15px;z-index:1000" type="submit" value="Submit">
						</form>
					</div>
				</div>
			
					<!-- <script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script> 
					-->
				<div style="width:60px; height:60px;margin-top:-15px; list-style:none">	
					<%if(response.length===3){%>
					<li><img src='/images/image_placeholder.png' style="height:50px; width:50px"/></li>	
					<li style="color:#fff">Guest!! </li>
					<%}else%>
					<% if(response.length!==3){%>
					<li><img src='<%=response.user_info.profile_pic%>' style="height:50px; width:50px"/></li>	
					<li style="color:#fff"><%=response.user_info.firstname%> </li>
				
				<%}%>
				</div>
					<div class="clearfix"> </div>
			</div>
				
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				
		  <div class=" h_menu4">
				<ul class="memenu skyblue">
					  <li><a class="color8" href="/">HOME</a></li>	
				      <li><a class="color1" href="/api/view/products">ADVERTISEMENTS</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/api/view/books">Books</a></li>
										<li><a href="/api/view/Electronics">Electronics</a></li>
										<li><a href="/api/view/Others">Others</a></li>
									</ul>	
								</div>							
							</div>
						
						  </div>
						</div>
					</li>

				    <li class="grid"><a class="color2" href="/publish">POST YOUR AD</a></li>
				    <li class="grid"><a class="color2" href="/api/view/user/activities">YOUR ACTIVITIES</a></li>
				    
				    
					<% if(response.length===3){%>

					<li><a class="color4" href="/login">LOGIN</a></li>	
				
					<%}%>
					
						
				<li><a class="color6" href="contact.html">CONTACT US</a></li>
				<% if(response.length!==3){%>

					<li><a class="color4" href="/api/user/logout">LOGOUT</a></li>	
				
					<%}%>
			  </ul> 
			</div>
				
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			  <script src="/js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

</div>
<div class="contain2" style="position:relative; overflow-x:hidden; opacity:1; border:8px solid #8FBC8F ; width:1100px; margin-left:133px;height:450px; top:40px" >
				<div style="margin-top:0px;left:0px">
					<p><strong><i><b>Your recent Activities:</b></i></strong></p> <hr style="border:1px solid #000; margin-top:0px ">
					<ul>
					<%for(var i=0;i<response.activities.length;i++) {%>
						
						<li><p>
							<%= response.activities[i].activity %><br/>
							<hr style="margin-top:1px">
						</p>
						</li>
					<%}%>
					</ul>
				</div>
			</div>


	
</body>
</html>
