<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
  <% include partials/dropdown%>
  

});
</script>

</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container" style="margin-top: 5%;">
<% include partials/activity_notifier%>

<!-- main content block -->
<div class="col-md-12">
  <div>

    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-12">
          <hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">
          <h3>
          <p align="center">
            <span class="text-info">
              <strong>
                Request Confirmations           
              </strong>
            </span>
          </p>
          </h3>
          <hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">
        </div>
        <!-- for each advertisement-->
        <!-- will later contain option to pay-->
        <%for(var i=0;i<response.advertisements.length;i++){%>
          <% response.advertisement=response.advertisements[i];%>
          <%include partials/confirmation_box%>
        <%}%>

        <%if(response.advertisements.length===0){%>
            <div align="center">
              <strong>
               You have no confirmations for your requests right now.
              </strong>
            </div>
          
          <%}%>

      </div>
<!-- for pending requests -->
    <div class="row" style="margin-top: 15px;">

        <div class="col-md-12">
          <hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">
          <h3>
          <p align="center">
            <span class="text-info">
              <strong>
                Pending Confirmations           
              </strong>
            </span>
          </p>
          </h3>
          <hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">
        </div>
        <!-- for each advertisement-->
        <!-- will later contain option to pay-->
        <%for(var i=0;i<response.pending_advertisements.length;i++){%>
          <% response.pending_advertisement=response.pending_advertisements[i];%>
          <%include partials/pending_confirmation_box%>
        <%}%>

        <%if(response.pending_advertisements.length===0){%>
            <div align="center">
              <strong>
               You have no pending confirmations for your requests right now.
              </strong>
            </div>
          
          <%}%>

      </div>
  </div>
</div>
<!-- end main content block -->
<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
			
