<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
<% include partials/dropdown%>
});
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container-fluid" style="margin-top: 5%;">

<!-- wish box -->
<div class="col-md-3" style=" position: fixed;">                  
    <div class="panel panel-info">
                        <div class="panel-heading" align="center" >
                            Wishes
                        </div>
                        <div class="panel-body" style="padding: 8px;">
                            <textarea class="form-control" placeholder="Enter your wish here..." rows="3" style="max-width: 100%; max-height: 90px;"></textarea>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm pull-right">Post</a>
                            <br>
                            <hr>
                            <!-- wish list in this div -->
                            <div class="wishes" style="overflow-y:scroll; height: 260px;">
                                <!-- one wish item -->
                                    <div class="wish_item">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">category</small>
                                        </span>
                                        <strong class="text-success">wish name </strong>
                                        <p>
                                            descrption of wish <br>
                                            <a  class="text-success" href="#" style="align: center"> Recommendations </a>
                                            <span class="pull-right">
                                            Posted by: 
                                            <a href="#" style="align: center"> username </a>
                                            </span>
                                        </p>
                                        <hr>
                                    </div>
                            </div>
                            <span class="text-danger"><small>Be sure to check wishes. You may have something to fulfill these wishes. You can post your ad <a href="/publish">here.</a></small></span>
                        </div>
      </div>
      
  <!-- end wish box -->

</div>
<!-- main content block -->
<div class="col-md-9 col-md-offset-3">
  <div class="well"    style="background-color: #f5f5f5; border: 1px solid #e3e3e3;">


    <div class="jumbotron">
      <div class="container">
        <h1>Vend</h1>
        <p>A web portal where you can post an ad to sell/share your things.<br> You can also post wishes for the things you need and check our recommendations for you.</p>
      </div>
    </div> 
    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

    <!-- for latest advertisement panel on home -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Latest Advertisements on Vend
                </strong>
              </h4>
            </div>

            
            <div class="row" style="padding: 10px;">
            <!-- for each  advertisement -->
          <%for(var i=0;i<response.latest.length;i++) {%>
          <!-- assume an object advertisement  -->
          	<%response.advertisement=response.latest[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.latest.length===0){%>
          <div align="center">
          <strong>
            No Results Found!!
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.latest.length!==0){%>
                <strong>
                <a href="/api/view/advertisement/latest">
                  View more Latest Advertisements
                  </a>
                </strong>
            <%}%>
              </h4>
            </div>
          </div>
        </div>

        <!-- for Recently viewed panel on home -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Recently Viewed on Vend
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">


            <%for(var i=0;i<response.recent.length;i++) {%>

              
          	<%response.advertisement=response.recent[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.recent.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.recent.length!==0){%>

                <strong>
                <a href="/api/view/advertisement/viewed">
                  View more Recently Viewed
                  </a>
                </strong>
           <% }%>

              </h4>
            </div>
          </div>
        </div>

        <!-- for Recommended panel on home -->

        <% if(response.recommended!==undefined){ %>
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Recommended for You on Vend
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">

            <%for(var i=0;i<response.recommended.length;i++) {%>

              
          	<%response.advertisement=response.recommended[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.recommended.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.recommended.length!==0){%>

                <strong>
                <a href="/api/view/advertisement/recommended">
                  View more Recommendations
                  </a>
                </strong>
              <%}%>
              </h4>
            </div>
          </div>
        </div>

        <%}%>



      </div>


  </div>
</div>
<!-- end main content block -->
  
<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
			
