<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/enscroll-0.6.2.min.js"></script>


  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  <% include partials/dropdown%>

  $('#scrollbox3').enscroll({
      showOnHover: true,
      verticalTrackClass: 'track3',
      verticalHandleClass: 'handle3'
  });
});
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container-fluid" style="margin-top: 5%;">
<!-- wish box -->
<div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
    <div class="panel panel-info">
                        <div class="panel-heading" align="center" >
                            Wishes
                        </div>
                        <div class="panel-body" style="padding: 6px;">
                            <form id="wishForm" action="/api/user/wish" method="POST">
                              <div class="col-md-6" style="padding: 3px;">
                              <input name="title" class="form-control" required  placeholder="Wish name"/>
                              </div>
                              <div class="col-md-6" style="padding:3px;">
                                <select class="form-control" name="category" required >
                                 <option value="">--Category--</option>
                                 <option value="Book">Book</option>
                                 <option value="Electronics">Electronics</option>
                                 <option value="Other">Others</option>
                        
                                </select>
                              </div>

                              <textarea name="description" class="form-control" placeholder="Describe your wish here..." rows="3" style="max-width: 100%; max-height: 90px;" required></textarea>
                              
                              <button type="submit" class="btn btn-primary btn-sm pull-right" style="margin-top: 2px; margin-right: 10px;">Post</button>
                           </form>
                            <br>
                            <hr>

                            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <!-- wish list in this div -->
                              <div id="scrollbox3" style="min-height: 250px; max-height: 500px; width: 106%;">

                                <%for(var i=0;i<response.wishes.length;i++) {%>
                                    <!-- assume an object wish  -->
                                      <%response.wish=response.wishes[i];%>
                                      <%include partials/wish_item%>

                                    <%}%>
                                    <%if(response.wishes.length===0){%>
                                    <div align="center">
                                    <strong>
                                      Nothing here :(
                                      </strong>
                                    </div>
                                    <% }%>
                                  
                                      
                              </div>
                            </div>
                            <span class="text-danger"><small>Be sure to check wishes. You may have something to fulfill these wishes. You can post your ad <a href="/api/advertisement/publish">here.</a></small></span>
                        </div>
      </div>

  <!-- end wish box -->

</div>
<!-- main content block -->
<div class="col-md-9">
<% include partials/activity_notifier%>

  <div >


    <div class="jumbotron">
      <div class="container">
        <h1>Vend</h1>
        <p>A web portal where you can post an ad to sell/share your things.<br> You can also post wishes for the things you need and check our recommendations for you.</p>
      </div>
    </div>
    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

    <!-- for latest advertisement panel on home -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Latest Advertisements on Vend
                </strong>
              </h4>
            </div>


            <div class="row" style="padding: 10px;">
            <!-- for each  advertisement -->
          <%for(var i=0;i<response.latest.length;i++) {%>
          <!-- assume an object advertisement  -->
          	<%response.advertisement=response.latest[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.latest.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.latest.length!==0){%>
                <strong>
                <a href="/api/view/advertisement/latest">
                  View more Latest Advertisements
                  </a>
                </strong>
            <%}%>
              </h4>
            </div>
          </div>
        </div>

        <!-- for Recently viewed panel on home -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Recently Viewed on Vend
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">


                <%for(var i=0;i<response.recent.length;i++) {%>


                	<%response.advertisement=response.recent[i];%>
                  <%include partials/advertisement%>

                <%}%>
                <%if(response.recent.length===0){%>
                  <div align="center">
                  <strong>
                    Nothing here :(
                    </strong>
                  </div>
                <%}%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.recent.length!==0){%>

                <strong>
                <a href="/api/view/advertisement/viewed">
                  View more Recently Viewed
                  </a>
                </strong>
           <% }%>

              </h4>
            </div>
          </div>
        </div>

        <!-- for Recommended panel on home -->

        <% if(response.recommended!==undefined){ %>
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Recommended for You on Vend
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">

            <%for(var i=0;i<response.recommended.length;i++) {%>


          	<%response.advertisement=response.recommended[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.recommended.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
            <%if(response.recommended.length!==0){%>

                <strong>
                <a href="/api/view/advertisement/recommended">
                  View more Recommendations
                  </a>
                </strong>
              <%}%>
              </h4>
            </div>
          </div>
        </div>

        <%}%>



      </div>


  </div>
</div>
<!-- end main content block -->

<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
