<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=latest%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
<% include partials/dropdown%>
});
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container" style="margin-top: 5%;">
<% include partials/sort_option%>


<!-- main content block -->
<div class="col-md-12">
  <!-- <div class="well"    style="background-color: #f5f5f5; border: 1px solid #e3e3e3;"> -->
  <div>
    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

    <!-- for books panel on home -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Latest Advertisements on Vend
                </strong>
              </h4>
            </div>

            
            <div class="row" style="padding: 10px;">
            <!-- for each  advertisement -->
          <%for(var i=0;i<response.latest.length;i++) {%>
          <!-- assume an object advertisement  -->
          	<%response.advertisement=response.latest[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.latest.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
              <%if(response.latest.length===0){%>
                <strong>
                  That's all in Latest.
                </strong>
               <%}%> 
              </h4>
            </div>
          </div>
        </div>




      </div>


  </div>
</div>
<!-- end main content block -->
  
<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
			
