

<!DOCTYPE html>
<html>
<head>
<title>VEND:An online web portal to buy/sell/share things in NITH Campus</title>
<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cosmo Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->
<!-- Style --> <link rel="stylesheet" href="/css/style1.css" type="text/css" media="all" />
</head>
<body>
<div class="container">
<h1>LOG IN </h1>
	<div class="contact-form">
	 <div class="signin">
     <form action='api/user/login' method='POST'>
	      <input type="text" class="user" required  name='username' placeholder='Username'/>
	      <input type="password" class="pass" required name= 'password' placeholder='password'/>
          <input type="submit" value="LOGIN" />
          <p>Not a member? <a href="/register">Signup now >></a> </p>
	 </form>
	 </div>
	</div>
</div>
<div class="footer">
     <p>© 2015 VEND. All Rights Reserved</a></p>
</div>
</body>
</html>