<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
<% include partials/dropdown%>
});
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container" style="margin-top: 5%;">

<!-- main content block -->
<div class="col-md-12">
  <div class="well"    style="background-color: #f5f5f5; border: 1px solid #e3e3e3;">

    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

    <!-- for each advertisement-->
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="padding: 5px;">
              <h4>
                <strong>
                  Avertisement name
                </strong>
              </h4>
              <div class="pull-right">
                <button class="btn btn-info">Delete Ad</button>
              </div>
            </div>

            
            <div class="row" style="padding: 10px;">
            <!-- for each  advertisement -->
          <%for(var i=0;i<response.advertisements[0].pings.length;i++) {%>
          <!-- assume an object advertisement  -->
          	<%response.ping_request=response.advertisements[0].pings[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.advertisements[i].pings.length===0){%>
          <div align="center">
          <strong>
            No Requests yet.
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
                <strong>
                </strong>
              </h4>
            </div>
          </div>
        </div>






      </div>


  </div>
</div>
<!-- end main content block -->
  
<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
			
