<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
<% include partials/dropdown%>
  	

    //initial setting
    $('input[name="title"]').attr("required",true);
    $('input[name="author"]').attr("required",true);
    $('input[name="semester"]').attr("required",true);

// setting type field and required properties accordingly to selected type of user
  $('a[data-toggle="pill"]').click(function(){
        if($(this).attr("href")=="#book"){
           $('input[id="category"]').attr("value","Book");


           // unsetting for other required
           // unsetting for Electronics required
            $('input[name="brand"]').removeAttr("required");
            $('input[name="sub_category"]').removeAttr("required");
            $('input[name="name"]').removeAttr("required");


           // setting for Book
            $('input[name="title"]').attr("required",true);
            $('input[name="author"]').attr("required",true);
            $('input[name="semester"]').attr("required",true);

            // alert($('input[id="category"]').val());
        }

        if($(this).attr("href")=="#electronics_other"){
        if($(this).attr("id")=="electronics"){
           $('input[id="category"]').attr("value","Electronics");

          // unsetting for Book required
            $('input[name="title"]').removeAttr("required");
            $('input[name="author"]').removeAttr("required");
            $('input[name="semester"]').removeAttr("required");

            // unsetting for other required




            //setting for electronics
            $('input[name="brand"]').attr("required",true);
            $('input[name="sub_category"]').attr("required",true);
            $('input[name="name"]').attr("required",true);

            $('input[name="brand"]').attr("placeholder",'Enter the brand of product(e.g. HP or DELL)');
            $('input[name="sub_category"]').attr("placeholder",'Enter the product category(e.g. Mobile, Laptop etc)');
            $('input[name="name"]').attr("placeholder",'Enter the name of product(e.g. Moto X(2nd gen) or HP E016TX)');

           // alert($('input[id="category"]').val());


        }

        if($(this).attr("id")=="others"){
           $('input[id="category"]').attr("value","Other");


           // unsetting for Book required
            $('input[name="title"]').removeAttr("required");
            $('input[name="author"]').removeAttr("required");
            $('input[name="semester"]').removeAttr("required");

           // unsetting for Electronics required

            // setting for other required
            $('input[name="brand"]').attr("required",true);
            $('input[name="sub_category"]').attr("required",true);
            $('input[name="name"]').attr("required",true);


            $('input[name="brand"]').attr("placeholder",'Enter the brand of product(e.g. Fender or PUMA)');
            $('input[name="sub_category"]').attr("placeholder",'Enter the product category(e.g. Guitar, Shoes etc)');
            $('input[name="name"]').attr("placeholder",'Enter the name of product(e.g.Fender RX100 or PUMA Sneakers)');


           // alert($('input[id="category"]').val());
           
        
        }
      }
    });
  });
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<%include partials/header%>
<div class="container-fluid">
     
   <div class="row">
          <div class="col-md-6 col-md-offset-3" style="margin-top: 8%;">
                    <div class="col-md-10 col-md-offset-1">

                              <%if(response.error!==undefined){%>
                              <div class="alert alert-warning" align="center">
                                 <strong>Error:</strong> <%=response.error%>
                              </div>  
                              <%}%>


                              <div class="well">
                                  <h3 class="card-title" align="center" style="color: #337ab7"><strong >ADVERTISEMENT DETAILS</strong></h3>
                                  <form id="publishForm" action='/api/advertisement/publish' method='POST' enctype="multipart/form-data">
                                       <div class="panel panel-success" style="margin-top: 5%; width: 100%">
                                        <label class="panel-heading" style="width: 100%" align="center"><span>Select category of Ad</span></label>
                                        <input type="hidden" id="category" name="category" value="Book"/>
                                          <ul class="nav nav-pills nav-justified" style="padding: 4px">
                                            <li class="active"><a data-toggle="pill" href="#book">Book</a></li>
                                            <li><a data-toggle="pill" href="#electronics_other" id="electronics">Electronics</a></li>
                                            <li><a data-toggle="pill" href="#electronics_other" id="others">Other</a></li>
                                          </ul>

                                          <div class="tab-content">
                                          <!-- Book specific details -->
                                            <div id="book" class="tab-pane fade in active" style="padding: 10px">
                                              <input name="title" type="text" class="form-control" placeholder="Enter the title of Book(e.g. Information Security)" style="margin-top: 5%;" />

                                              <input name="author" type="text" class="form-control" placeholder="Enter the author of Book(e.g. William Stalling)" style="margin-top: 5%;" />

                                              <input name="semester" type="number" class="form-control" placeholder="Enter the semester of Book(0 if not applicable,e.g. 7 for 7th sem)" style="margin-top: 5%;" />

                                              
                                            </div>


                                            <!-- Electronics and other Specific Detail -->
                                            <div id="electronics_other" class="tab-pane fade" style="padding: 10px">
                                              <input name="brand" type="text"  class="form-control" style="margin-top: 5%;">
                                              <input name="sub_category" type="text" class="form-control" style="margin-top: 5%;" >
                                              <input name="name" type="text" class="form-control" style="margin-top: 5%;">
                                              </div>


                                            <div class="common" style="padding: 10px">
                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                              <label for="kind" class="panel-heading" style="width: 100%"><span>What it will be available for? (LOAN or BUY)</span></label>
                                              <div style="padding: 4px;">
                                                <select class="form-control" name="kind" required>
                                               <option value="">---Select---</option>
                                                <option value="BUY">BUY</option>
                                                <option value="LOAN">LOAN</option>
                      
                                               </select>
                                                </div>
                                              </div>

                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                              <label for="bid" class="panel-heading" style="width: 100%"><span>Will it be available for bid?</span></label>
                                              <div style="padding: 4px;">
                                                <select class="form-control" name="bid" required>
                                               <option value="">---Select---</option>
                                                <option value="YES">Yes</option>
                                                <option value="NO">No</option>
                      
                                               </select>
                                                </div>
                                              </div>
                                              <div class="panel panel-success" style="margin-top: 5%; width: 100%">
                                                <label for="picture" class="panel-heading" style="width: 100%;" align="center"  >
                                                <span>
                                                Images of the product
                                                </span><br>
                                                <small class="text-muted">For multiple images: Ctrl + Click on Image files</small>
                                                </label>
                                                <input name="images[]" type="file" class="form-control" value="Upload Picture" required="Image is required." style="padding: 3px; width: 100%" accept="image/*" multiple />
                                              </div>
                                              <input name="location" type="text" class="form-control" required style="margin-top: 5%;" placeholder='Where is the product? (e.g. AS-XXX, VBH Hostel)'>
                                              <input name="price" type="number" class="form-control" required style="margin-top: 5%;" placeholder='What price do you want for the Product?(e.g. 200 or 0 for free)'>
                                              <div style="width: 100%;">
                                              <textarea name="description" class="form-control" placeholder="Give a little description of your product and why do you want to sell or loan?(if loan, Please specify time period for the same.)" style="margin-top: 5%; max-width: 100%;" rows="3"></textarea>
                                              </div>
                                            </div>

                                            </div>
                                          </div>

                                          <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10%;">Publish</button>
                                      </div>

                                      
                                  </form>
                              </div>
                    </div>     
          </div>
      </div>

</div>

<!-- below two /div for main and wrap -->
</div>
</div>
<% include partials/footer%>
</body>
</html>