
<!DOCTYPE html>
<html>
<head>
<title>PUBLISH YOUR ADVERTISEMENT</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
<!-- start menu -->
<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/js/simpleCart.min.js"> </script>

<script type="text/javascript">
	$(document).ready(function() {

	$('.books').hide();
	$('.electronics').hide();
	$('.others').hide();
	$('.common').hide();

	$('input[type="radio"]').click(function(){
		if($(this).attr("value")=="Book"){
			$(".books").show();
			$('.common').show();
			$(".info").not(".books").hide();
		}

		if($(this).attr("value")=="Electronics"){			
			$(".electronics").show();
			$('.common').show();
			$(".info").not(".electronics").hide();
		}

		if($(this).attr("value")=="Other"){
			$(".others").show();
			$('.common').show();
			$(".info").not(".others").hide();
		}
	});

	});
</script>

</head>

<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="logo">
					<!-- <h1><a href="/"><img src="/images/logo1.png" alt="" height="40px" width="100px" /></a></h1> -->
					<div id="head" style="margin-top:-10px">VEND</div>
			</div>
			<div class="header-left">
			
				<div class="search-box">
					<div >
						<form action="/api/view/search" method="POST">
							<input style="width:400px; left:600px; top:15px" class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" style="left:1000px; top:15px;z-index:1000" type="submit" value="Submit">
						</form>
					</div>
				</div>
			<div style="width:60px; height:60px;margin-top:-15px; list-style:none">	
				<%if(response.user_info===undefined){%>
					<li><img src='/images/image_placeholder.png' style="height:50px; width:50px"/></li>	
					<li style="color:#fff">Guest!! </li>
					<%}else%>
					<% if(response.user_info!==undefined){%>
					<li><img src='<%=response.user_info.profile_pic%>' style="height:50px; width:50px"/></li>	
					<li style="color:#fff"><%=response.user_info.firstname%> </li>
				
				<%}%>
				</div>
					<div class="clearfix"> </div>
			</div>
				
			</div>
		</div>
	</div>
		<div class="container">
			<div class="head-top">
				
		 <div class=" h_menu4">
				<ul class="memenu skyblue">
					  <li><a class="color8" href="/">HOME</a></li>	
				      <li><a class="color1" href="/api/view/products">ADVERTISEMENTS</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="/api/view/books">Books</a></li>
										<li><a href="/api/view/Electronics">Electronics</a></li>
										<li><a href="/api/view/Others">Others</a></li>
									</ul>	
								</div>							
							</div>
						
						  </div>
						</div>
					</li>

				    <li class="grid"><a class="color2" href="/api/advertisement/publish">POST YOUR AD</a></li>
				   
				<li><a class="color4" href="/login">LOGIN</a></li>	
				
						
				<li><a class="color6" href="contact.html">CONTACT US</a></li>
			  </ul> 
			</div>
		
				
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>

	<div class="banner">
		<div class="container">
			  <script src="/js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</div>
<center>
	<div class="advertise">
		<div id="head">PUBLISH</div>
		<form action='/api/advertisement/publish' method='POST' enctype="multipart/form-data">
				
			<div class="sto"><input  name="category" type="radio" class="input_bg " value="Book" ><span>Books</span><br></div>
			<div class="sto"><input  name="category" type="radio" class="input_bg " value="Electronics"><span>Electronics</span><br></div>
			<div class="sto"><input  name="category" type="radio" class="input_bg " value="Other"><span>Others</span><br></div>
			 
			<div class="books info" style="margin-left:-110px; position:relative">			
				<input name="title" type="text"  class="input_bg" style="width:700px; " placeholder='Enter the title of Book'>
			    <input name="author" type="text" class="input_bg" style="width:700px; " placeholder='Enter the author of Book'>
			    <input name="semester" type="text" class="input_bg" style="width:700px; " placeholder='Enter the semester of Book'>  
			</div>

			<div class="electronics info" style="margin-left:-110px; position:relative">
				<input name="brand" type="text"  class="input_bg" style="width:700px; " placeholder='Enter the Brand of Product'>
			    <input name="sub_category" type="text" class="input_bg" style="width:700px; " placeholder='Enter the Category(e.g. Mobile,Laptop etc) of product'>
			    <input name="name" type="text" class="input_bg" style="width:700px; " placeholder='Enter the name of Product'>
			</div>


			<div class="others info" style="margin-left:-110px; position:relative">
				<input name="brand" type="text" class="input_bg" style="width:700px; " placeholder='Enter the Brand of Product'>
			    <input name="sub_category" type="text" class="input_bg" style="width:700px; " placeholder='Enter the Category(e.g. Guitar, Shoes  etc) of product'>
			    <input name="name" type="text" class="input_bg" style="width:700px; " placeholder='Enter the name of Product'>
			</div>


			<div class="common" style="margin-left:-110px; position:relative">
				<select style="width:700px" class="input_bg" name="kind" >
				 	<option value="">---Will be Available for?---</option>
	                         	<option value="BUY">BUY</option>
	                         	<option value="LOAN">LOAN</option>
					            
				</select><br>
				<input name="images" type="file" class="input_bg" style="width:700px; " placeholder='Image of the product'>
	            <input name="location" type="text" class="input_bg" style="width:700px; " placeholder='Enter location of product'>
	            <input name="price" type="text" class="input_bg" style="width:700px; " placeholder='Enter price of the product'>
	            <input name="description" type="text" class="input_bg" style="width:700px; " placeholder='Enter description'>
			</div>

			<input type='submit' name='submit' value='Submit' id='submit' style="width:320px; margin-left:0px; z-index:1000">					
		</form>
	</div>	
</center>
</body>
</html>
