<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

<% include partials/dropdown%>
    
    //for confirm password
var password = document.getElementById("Password");
var confirm_password = document.getElementById("ConfirmPassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

function validatePassLength(){
  if(password.value.toString().length<8) {
    password.setCustomValidity("Minimum 8 characters Required.");
  } else {
    password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
password.onkeyup=validatePassLength;
confirm_password.onkeyup = validatePassword;


  	//initial setting
  	$('input[name="rollno"]').attr("required",true);
    $('select[name="department"]').attr("required",true);
    $('select[name="degree"]').attr("required",true);
// setting type field and required properties accordingly to selected type of user
  $('a[data-toggle="pill"]').click(function(){
        if($(this).attr("href")=="#student"){
           $('input[id="type"]').attr("value","Student");

           $('select[name="teacher_department"]').removeAttr("required");
           $('select[name="designation"]').removeAttr("required");

           $('input[name="rollno"]').attr("required","RollNo. is required.");
           $('select[name="department"]').attr("required","Department is required.");
           $('select[name="degree"]').attr("required","Degree type is required.");

            // alert($('input[id="type"]').val());
        }

        if($(this).attr("href")=="#teacher"){
           $('input[id="type"]').attr("value","Teacher");

           $('input[name="rollno"]').removeAttr("required");
           $('select[name="department"]').removeAttr("required");
           $('select[name="degree"]').removeAttr("required");

           $('select[name="teacher_department"]').attr("required",true);
           $('select[name="designation"]').attr("required",true);

           // alert($('input[id="type"]').val());


        }

        if($(this).attr("href")=="#other"){
           $('input[id="type"]').attr("value","Other");

           $('input[name="rollno"]').removeAttr('required');
           $('select[name="department"]').removeAttr('required');
           $('select[name="degree"]').removeAttr("required");

           $('select[name="teacher_department"]').removeAttr('required');
           $('select[name="designation"]').removeAttr('required');

           // alert($('input[id="type"]').val());
           
        
        }
    });
  });
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<%include partials/header%>
<div class="container-fluid">
     
   <div class="row">
          <div class="col-md-6 col-md-offset-3" style="margin-top: 8%;">
                    <div class="col-md-10 col-md-offset-1">

                              <%if(response.error!==undefined){%>
                              <div class="alert alert-warning" align="center">
                                 <strong>Error:</strong> <%=response.error%>
                              </div>  
                              <%}%>


                              <div class="well">
                                  <h3 class="card-title" align="center" style="color: #337ab7"><strong >REGISTER</strong></h3>
                                  <form id="registerForm" action='/api/user/register' method='POST' enctype="multipart/form-data">
                                      <input type="text" class="form-control" name="firstname" value="" required="Fill this field!" title="Please enter your firstname here."  placeholder="Firstname" style="margin-top: 5%;">

                                      <input type="text" class="form-control" name="lastname" value="" required="Fill this field!" title="Please enter your lastname here."  placeholder="Lastname" style="margin-top: 5%;">

                                      <input type="email" class="form-control" name="email" value="" required="Fill this field!" title="Please enter your email here."  placeholder="youremail@email.com" style="margin-top: 5%;">

                                      <input type="tel" class="form-control" name="contact" value="" required="Fill this field!" title="Please enter your phonr number here."  placeholder="10 digit Phone Number" style="margin-top: 5%;">

                                      <div class="panel panel-success" style="margin-top: 5%; width: 100%">
                                        <label for="picture" class="panel-heading" style="width: 100%;" align="center"  ><span>Choose your Profile Picture</span></label>
                                        <input name="profile_pic" type="file" class="form-control" value="Upload Picture" required="Profile picture is required." style="padding: 3px; width: 100%" accept="image/*" />
                                      </div>

                                      <div class="panel panel-success" style="margin-top: 5%; width: 100%">
                                        <label class="panel-heading" style="width: 100%" align="center"><span>Login details</span></label>
                                        <div style="padding: 10px">
                                          <input type="text" class="form-control" name="username" value="" required="Fill this field!" title="Please enter your username here."  placeholder="Username">

                                          <input type="password" class="form-control" id="Password" name="password" value="" required="Fill this field!" title="Please enter your password here."  placeholder="Password(minimum 8 characters)" style="margin-top: 5%;">

                                          <input type="password" class="form-control" id="ConfirmPassword" name="confirm_password" value="" required="Fill this field!" title="Please enter your password again."  placeholder="Confirm Password" style="margin-top: 5%;">
                                        </div>
                                      </div>


                                       <div class="panel panel-success" style="margin-top: 5%; width: 100%">
                                        <label class="panel-heading" style="width: 100%" align="center"><span>Select who you are?</span></label>
                                        <input type="hidden" id="type" name="type" value="Student"/>
                                          <ul class="nav nav-pills nav-justified" style="padding: 4px">
                                            <li class="active"><a data-toggle="pill" href="#student">Student</a></li>
                                            <li><a data-toggle="pill" href="#teacher">Teacher</a></li>
                                            <li><a data-toggle="pill" href="#other">Other</a></li>
                                          </ul>

                                          <div class="tab-content">
                                          <!-- Student specific details -->
                                            <div id="student" class="tab-pane fade in active" style="padding: 10px">
                                              <input name="rollno" type="text" class="form-control" placeholder="Roll Number" style="margin-top: 5%;" />

                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                              <label for="branch" class="panel-heading" style="width: 100%"><span>Select your Department</span></label>
                                              <div style="padding: 4px;">
                                                <select class="form-control" name="department" >
                                                      <option value="">---Department---</option>
                                                      <option value="CSE">Computer Science & Engineering</option>
                                                      <option value="CED">Civil Engineering</option>
                                                      <option value="ECE">Electronics & Communication Engineering</option>
                                                      <option value="EEE">Electrical & Electronics Engineering</option>
                                                      <option value="MED">Mechanical Engineering</option>
                                                      <option value="ARCH">Architecture Department</option>
                                                      
                                                  </select>
                                                </div>
                                              </div>


                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                                  <label for="Degree" class="panel-heading" style="width: 100%"><span>Select your Degree Type</span></label>
                                                  <div style="padding: 4px;">
                                                    <select class="form-control" name="degree">
                                                      <option value="">---Select---</option>
                                                      <option value="BTECH">B.Tech</option>
                                                      <option value="MTECH">M.Tech</option>                     
                                                    </select>
                                                </div>
                                              </div>
                                            </div>

                                            <!-- Teacher Specific Detail -->
                                            <div id="teacher" class="tab-pane fade" style="padding: 10px">
                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                                <label for="branch" class="panel-heading" style="width: 100%"><span>Select your Department</span></label>
                                                 <div style="padding: 4px;">
                                                  <select class="form-control" name="teacher_department" >
                                                      <option value="">---Department---</option>
                                                      <option value="CSE">Computer Science & Engineering</option>
                                                      <option value="CED">Civil Engineering</option>
                                                      <option value="ECE">Electronics & Communication Engineering</option>
                                                      <option value="EEE">Electrical & Electronics Engineering</option>
                                                      <option value="MED">Mechanical Engineering</option>
                                                      <option value="ARCH">Architecture Department</option>
                                                      
                                                  </select>
                                                </div>
                                              </div>

                                              <div class="panel panel-info"  style="margin-top: 5%;">
                                                <label for="designation" class="panel-heading" style="width: 100%"><span>Select your Designation</span></label>
                                                 <div style="padding: 4px;">
                                                  <select class="form-control" name="designation">
                                                    <option value="">---None---</option>
                                                    <option value="Professor">Professor</option>
                                                    <option value="Assistant Professor">Assistant Professor</option>
                                                    <option value="Associate Professor">Associate Professor</option>
                                                    <option value="Lecturer">Lecturer</option>
                                                  </select>
                                                  </div>
                                                </div>
                                            </div>


                                            <div id="other" class="tab-pane fade" style="padding: 10px">
                                            </div>
                                          </div>
                                      </div>

                                      <button type="submit" class="btn btn-primary btn-block"   style="margin-top: 10%;">Register
                                      </button>
                                  </form>
                              </div>
                    </div>     
          </div>
      </div>

</div>

<!-- below two /div for main and wrap -->
</div>
</div>
<% include partials/footer%>
</body>
</html>