<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=search+': '+response.query%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <script src="/js/jquery.min.js"></script>

  <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function() {
<% include partials/dropdown%>
});
</script>
</head>
<body>

<div id="wrap">
<div id="main">
<!--header-->
<% include partials/header%>

<!--content-->
<div class="container" style="margin-top: 5%;">
<% include partials/search_sort_option%>


<!-- main content block -->
<div class="col-md-12">
  <!-- <div class="well"    style="background-color: #f5f5f5; border: 1px solid #e3e3e3;"> -->
  <div>
    <!-- /container -->

    <div class="row" style="margin-top: 15px;">

          <%if(response.users.length!==0){%>
    <!-- for user panel on page -->
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Results in Users
                </strong>
              </h4>
            </div>

            
            <div class="row" style="padding: 10px;">
            <!-- for each  user -->
          <%for(var i=0;i<response.users.length;i++) {%>
          <!-- assume an object user  -->
          	<%response.user=response.users[i];%>
              <%include partials/user%>

          <%}%>
          <%if(response.users.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  That's all in Users.
                </strong>
              </h4>
            </div>
          </div>
        </div>
        <%}%>

    <!-- for books panel on page -->

          <%if(response.books.length!==0){%>
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Results in Books
                </strong>
              </h4>
            </div>

            
            <div class="row" style="padding: 10px;">
            <!-- for each  advertisement -->
          <%for(var i=0;i<response.books.length;i++) {%>
          <!-- assume an object advertisement  -->
          	<%response.advertisement=response.books[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.books.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>
            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  That's all in Books.
                </strong>
              </h4>
            </div>
          </div>
        </div>
        <%}%>
        <!-- for Elctronics panel on page -->

          <%if(response.electronics.length!==0){%>
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Results in Electronic Products
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">


            <%for(var i=0;i<response.electronics.length;i++) {%>

              
          	<%response.advertisement=response.electronics[i];%>
              <%include partials/advertisement%>

          <%}%>
          <%if(response.electronics.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>

            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  That's all in Electronics.
                </strong>
              </h4>
            </div>
          </div>
        </div>
        <%}%>
        <!-- for Others panel -->

          <%if(response.others.length!==0){%>
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  Results in Other Products
                </strong>
              </h4>
            </div>

            <!-- for each  advertisement -->
            <div class="row" style="padding: 10px;">

            <%for(var i=0;i<response.others.length;i++) {%>

              
          	<%response.advertisement=response.others[i];%>
              <%include partials/advertisement%>

          <%}%>

          <%if(response.others.length===0){%>
          <div align="center">
          <strong>
            Nothing here :(
            </strong>
          </div>
          <% }%>

            </div>

            <div class="panel-footer" align="center" style="padding: 5px;">
              <h4>
                <strong>
                  That's all in Others.
                </strong>
              </h4>
            </div>
          </div>
        </div>
        <%}%>


          <%if(response.users.length===0&&response.books.length===0&&response.electronics.length===0&&response.others.length===0){%>
            <div align="center">
          <strong>
            Sorry!! We couldn't find anything that matches your query.            
            </strong>
            <br>
            <span class="text-muted">Note: You don't see yor ads here.</span>
          </div>
          
          <%}%>
      </div>


  </div>
</div>
<!-- end main content block -->
  
<!-- /conatainer after nav -->
</div>
<!-- below two /div for main and wrap -->


</div>
</div>
<%include partials/footer%>
</body>
</html>
			
